@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: 'Lato', sans-serif;
    background-color: #FAF8ED;
}

li, p{
    color: #5B5F62;
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }